@font-face {
    font-family: "source_sans_proregular";
    src: url(../assets/SourceSansPro-Regular.otf) format('truetype');
    src: url(../assets/sourcesanspro-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RemachineScript_Personal_Use";
    src: url(../assets.html/RemachineScript_Personal_Use.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "source_sans_proregular", sans-serif;
}

h1 {
    font-family: "RemachineScript_Personal_Use", cursive;
    font size: 4rem;
    padding: 1em;
    border: 1 px solid;
    border radius: 10px; 
}

.content_wrapper {
    font-size: 1.1rem;
}

section.centrada {
    width: 83.8%;
    margin-left: auto;
    margin-right: auto;
}
 
section.centrada p { border: 1px solid;
    padding: 1em;
}

.espacios {
    /* display: flex; */
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: coral;
}

.espacios::after {
    content: '';
    display: block;
    clear: both;
}

.espacios h2 {
    padding: 1rem
}

.espacios p {
    padding: 1rem;
    background-color: white;
}

.espacios p {
    padding: 1rem;
    background-color: white;
    width: 30%;
    float: left;
    margin-left: 2.5%;
}

.espacios p:last-of-type {
    margin-right: 2,5%;
}

.flex {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: coral
}

.flex h2 {
    padding:  1rem;
    width: 1 0 100%;
    
}

.flex .flex-wrapper {
    display: flex;
}

.flex p {
    padding: 1rem;
    background-color: white;
    margin-left: 2.5%;
}

.flex p:last-of-type {
    margin-right: 4%;
}

@media screen and (min-width: 690px) {

}
