body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.main_header {
    font-family: 'Oleo+Script';
    font-size: larger;
    /* background-color: rgb(100, 10, 10); */
    color: rgba(245, 245, 245, 0.945);
    padding: 0.8rem 0rem 0.5rem 2rem
}

.main_header p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: -1rem;
    margin-bottom: 0;
}

.main_header nav {
    margin-left: 1rem
}

.main_header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main_header nav li {
    display: inline-block;
}
.main_header nav a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1rem;

}

@media screen and (min-width: 650px) {
    
    .content-wrapper {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    div.superior nav.horizontal {
       display: initial;
    }

    nav li {
		position: relative;
		}

    nav ul {
        padding: 0;
        margin: 0;
        background-color: rgba(200, 200, 200, 0.13);
        display: flex;
    }

    nav a {
		display: block;
		padding: 0.3rem 0.7rem;
        text-align: center; 
        font-weight: bold;
    }

    nav a {
        transition: 
            color 1s, 
            background-color 1s;
    }

    nav > ul a:focus,
	nav > ul a:hover
	{ /* Cualquier a dentro de nav */
		background-color: rgb(100, 10, 10);
		color:white;
	}
    
    nav.horizontal>ul>li{
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
    }
}

header {
    min-height: vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../assets/italian_flag.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: difference; 
}

h1 {
    color: black)
}

.content_wrapper {
    margin: 1rem 3rem;
}

.main_section_footer {
    text-align: right;
    color: rgb(100, 10, 10);
    font-size: 1.5rem;
}

.smaller {
    font-size: smaller,
}

.image_wrapper {
    margin: 0;
    text-align: center;
}

img {
   max-width: 100%;
   width: 100%;
   display: inline-block;
}

.pre_no_mono {
    font-family: inherit;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    border-left: 4px solid rgb(250, 230, 220);
}

blockquote footer {
    width: fit-content;
    margin-top: 0.5rem;
    padding-top: 0.3rem;
    border-top: 1px solid bisque;
}

.dt {
    float: left;
    clear: left;
}

.dd {
   float: left;
   clear: right;
}

.clearfix {
    clear: both;
}

.iframe_footer {
    width: 100%;
    height: 20vh;
    border: none; 
    background-color: rgb(100, 10, 10);
}

footer a {
    color: inherit;
}

.main_footer p {
    margin-bottom: 0;
    margin-top: 0;
}

.main_footer {
    background-color: rgb(100, 10, 10);
    color: white; 
    text-align: center;
    padding: 1rem;
}

.main_footer aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main_footer aside li {
    display: inline-block;
}

.main_footer aside a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1rem 0.2rem;
}

.web_externa {
    width: 100%;
    height: 60vh;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
video, embed {
    max-width: 100%;
}

.sin-borde {
    border:0;
}
.centrar {
    margin-left: auto;
    margin-right: auto;
}


section.tabla:after{
    content: '';
    display: block;
    clear: both;
}

.table-wrapper-right:hover table {
    border-spacing: 10px;
    border-collapse: separate;
}

td {
    padding: 0.2rem 1rem;
    border: 1px solid; 
}

.form_control {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding-top: 0.7rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
}

.radio_wrapper {
    padding-top: 0.7rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
}

.placeholder {
    color: brown;
    background-color: bisque;
    font-family: 'Baloo Bhai', cursive;
}

.form_control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: brown;
    opacity: 1; /* Firefox */
}
  
  .form_control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: brown;
}
  
  .form_control::-ms-input-placeholder { /* Microsoft Edge */
    color: brown;
}

.form_label {
    display: block;
    margin-top: 1rem;
}