<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        title Hola Pug
    body
        header
            h1 Hola Pug
        section
            p.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Laudantium eveniet itaque blanditiis vero aspernatur.
                Nobis enim quidem quia? Atque laborum architecto libero,
                nobis sed vel molestiae! Optio saepe error aperiam. 
        footer
            address Ana Barrena
            